body{
    font-size: 100px;
}

#psyduck{
    /* border: 1px solid red; */
    width: 3.6em;
    height: 4em;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#psyduck > .hair-wrapper{
    width: 100px;
    height: 100px;
    position: absolute;
    top: .75em;
    left: 50%;
    transform: translate(-50%, -50%);


    display: flex;
    justify-content: center;
}
#psyduck > .hair-wrapper > .hair{
    background-color: black;
    width: .05em;
    height: .25em;
    border-radius: 20%;
}
#psyduck > .hair-wrapper > .hair:first-child{
    transform: rotate(-50deg) translate(-0.03em,0);
}
#psyduck > .hair-wrapper > .hair:last-child{
    transform: rotate(50deg) translate(0.03em,0);
}

#psyduck > .head{
    width: 1.5em;
    height: 1.2em;

    position: absolute;
    top:1.0em;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;

    background-color: #eecc2f;
}

#psyduck > .body{
    z-index: -1;
    /* border: 0.02em solid #fad531; */
    width: 1.8em;
    height: 1.70em;

    position: absolute;
    top:2.1em;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 85% /90%;

    background-color: #eecc2f;
}


#psyduck .eye{
    position: absolute;
    width: 100%;
    height: .5em;

}
#psyduck .eye > div{
    /* border: 1px solid red; */

    width: 0.35em;
    height: 0.28em;
    border-radius: 50%;
    background-color: #fff;

    position: absolute;
    top: 0.3em;
}
#psyduck .eye .left{
    left: 15%;
    transform: rotate(-26deg);
}
#psyduck .eye .right{
    right: 15%;
    transform: rotate(26deg);
}

#psyduck .eye .left.dot,
#psyduck .eye .right.dot{
    width: 0;
    height: 0;
    border: 2px solid black;
    border-radius: 100%;
    position: absolute;
    top: .4em;
}

#psyduck .eye .left.dot{
    left: .35em;

}

#psyduck .eye .right.dot{
    right: .35em;
}

#psyduck .mouth {
    width: 4em;
    position: absolute;
    top:.40em;
    left: 50%;
    transform: translateX(-50%) scale(0.65);
    display: flex;
    justify-content: center;
}

#psyduck .mouth .top{
    background-color: #eae8c0;
    height: .5em;
    width: .5em;
    border-radius: .25em 0 0 0;
    position: relative;
}

#psyduck .mouth .top:first-child{
    transform: rotate(5deg);
    top: .2em;
}
#psyduck .mouth .top:last-child{
    transform: rotate(85deg);
    top: .2em;
}
#psyduck .mouth .top:nth-child(2){
    transform: rotate(45deg);
    border-radius: .35em 0 0 0;
}


#psyduck .down{
    background-color: #eae8c0;
    height: .45em;
    width: 1.2em;
    border-radius: 1em / .5em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1em;
}

#psyduck .stuffing{
    height: 0em;
    width: .94em;
    border-bottom: 50px solid #eae8c0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin:0 auto;
    position: absolute;
    top: .73em;
    left: 50%;
    transform: translateX(-50%);
}

#psyduck .nostril{
    /* border: 1px solid red; */
    height: 0;
    width: 0;
    position: absolute;
    top: .6em;
    left:50%;
    transform: translateX(-50%);

}
#psyduck .nostril::before,#psyduck .nostril::after{
    content: "";
    width: .05em;
    height: .1em;
    border-radius: 50em / 100em;
    position: absolute;
    /* left: 50%; */
    /* transform:translateX(-50%); */
    background-color: rgba(96, 111, 106, 0.944);
}
#psyduck .nostril::before{
    transform:translateX(-50%) rotate(15deg);
    left: 10px;
}
#psyduck .nostril::after{
    transform:translateX(-50%) rotate(-15deg);
    left: -10px;
}